/* @extend display-flex; */
display-flex, .booking-content {
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli, ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("../../../assets/fonts/poppins/poppins-v5-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Light"), local("Poppins-Light"), url("../../../assets/fonts/poppins/poppins-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/poppins/poppins-v5-latin-300.woff2") format("woff2"), url("../../../assets/fonts/poppins/poppins-v5-latin-300.woff") format("woff"), url("../../../assets/fonts/poppins/poppins-v5-latin-300.ttf") format("truetype"), url("../../../assets/fonts/poppins/poppins-v5-latin-300.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-300italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url("../../../assets/fonts/poppins/poppins-v5-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url("../../../assets/fonts/poppins/poppins-v5-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/poppins/poppins-v5-latin-300italic.woff2") format("woff2"), url("../../../assets/fonts/poppins/poppins-v5-latin-300italic.woff") format("woff"), url("../../../assets/fonts/poppins/poppins-v5-latin-300italic.ttf") format("truetype"), url("../../../assets/fonts/poppins/poppins-v5-latin-300italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("../../../assets/fonts/poppins/poppins-v5-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../../../assets/fonts/poppins/poppins-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/poppins/poppins-v5-latin-regular.woff2") format("woff2"), url("../../../assets/fonts/poppins/poppins-v5-latin-regular.woff") format("woff"), url("../../../assets/fonts/poppins/poppins-v5-latin-regular.ttf") format("truetype"), url("../../../assets/fonts/poppins/poppins-v5-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url("../../../assets/fonts/poppins/poppins-v5-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Italic"), local("Poppins-Italic"), url("../../../assets/fonts/poppins/poppins-v5-latin-italic.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/poppins/poppins-v5-latin-italic.woff2") format("woff2"), url("../../../assets/fonts/poppins/poppins-v5-latin-italic.woff") format("woff"), url("../../../assets/fonts/poppins/poppins-v5-latin-italic.ttf") format("truetype"), url("../../../assets/fonts/poppins/poppins-v5-latin-italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url("../../../assets/fonts/poppins/poppins-v5-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../../../assets/fonts/poppins/poppins-v5-latin-500.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/poppins/poppins-v5-latin-500.woff2") format("woff2"), url("../../../assets/fonts/poppins/poppins-v5-latin-500.woff") format("woff"), url("../../../assets/fonts/poppins/poppins-v5-latin-500.ttf") format("truetype"), url("../../../assets/fonts/poppins/poppins-v5-latin-500.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-500italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url("../../../assets/fonts/poppins/poppins-v5-latin-500italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url("../../../assets/fonts/poppins/poppins-v5-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/poppins/poppins-v5-latin-500italic.woff2") format("woff2"), url("../../../assets/fonts/poppins/poppins-v5-latin-500italic.woff") format("woff"), url("../../../assets/fonts/poppins/poppins-v5-latin-500italic.ttf") format("truetype"), url("../../../assets/fonts/poppins/poppins-v5-latin-500italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("../../../assets/fonts/poppins/poppins-v5-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../../../assets/fonts/poppins/poppins-v5-latin-600.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/poppins/poppins-v5-latin-600.woff2") format("woff2"), url("../../../assets/fonts/poppins/poppins-v5-latin-600.woff") format("woff"), url("../../../assets/fonts/poppins/poppins-v5-latin-600.ttf") format("truetype"), url("../../../assets/fonts/poppins/poppins-v5-latin-600.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("../../../assets/fonts/poppins/poppins-v5-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../../../assets/fonts/poppins/poppins-v5-latin-700.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/poppins/poppins-v5-latin-700.woff2") format("woff2"), url("../../../assets/fonts/poppins/poppins-v5-latin-700.woff") format("woff"), url("../../../assets/fonts/poppins/poppins-v5-latin-700.ttf") format("truetype"), url("../../../assets/fonts/poppins/poppins-v5-latin-700.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-700italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url("../../../assets/fonts/poppins/poppins-v5-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("../../../assets/fonts/poppins/poppins-v5-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/poppins/poppins-v5-latin-700italic.woff2") format("woff2"), url("../../../assets/fonts/poppins/poppins-v5-latin-700italic.woff") format("woff"), url("../../../assets/fonts/poppins/poppins-v5-latin-700italic.ttf") format("truetype"), url("../../../assets/fonts/poppins/poppins-v5-latin-700italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url("../../../assets/fonts/poppins/poppins-v5-latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../../../assets/fonts/poppins/poppins-v5-latin-800.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/poppins/poppins-v5-latin-800.woff2") format("woff2"), url("../../../assets/fonts/poppins/poppins-v5-latin-800.woff") format("woff"), url("../../../assets/fonts/poppins/poppins-v5-latin-800.ttf") format("truetype"), url("../../../assets/fonts/poppins/poppins-v5-latin-800.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-800italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url("../../../assets/fonts/poppins/poppins-v5-latin-800italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url("../../../assets/fonts/poppins/poppins-v5-latin-800italic.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/poppins/poppins-v5-latin-800italic.woff2") format("woff2"), url("../../../assets/fonts/poppins/poppins-v5-latin-800italic.woff") format("woff"), url("../../../assets/fonts/poppins/poppins-v5-latin-800italic.ttf") format("truetype"), url("../../../assets/fonts/poppins/poppins-v5-latin-800italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url("../../../assets/fonts/poppins/poppins-v5-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Black"), local("Poppins-Black"), url("../../../assets/fonts/poppins/poppins-v5-latin-900.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/poppins/poppins-v5-latin-900.woff2") format("woff2"), url("../../../assets/fonts/poppins/poppins-v5-latin-900.woff") format("woff"), url("../../../assets/fonts/poppins/poppins-v5-latin-900.ttf") format("truetype"), url("../../../assets/fonts/poppins/poppins-v5-latin-900.svg#Poppins") format("svg");
  /* Legacy iOS */ }
a:focus, a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s; }

input, select, textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }

input[type=checkbox] {
  /*appearance: checkbox !important;*/
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important; }

input[type=radio] {
  /*appearance: radio !important;*/
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important; }

img {
  max-width: 100%;
  height: auto; }

figure {
  margin: 0; }

p {
  margin-bottom: 0px; }

h2 {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
  font-family: Poppins;
  font-size: 21px;
  text-align: center;
  margin-bottom: 28px; }

.clear {
  clear: both; }

body {
  font-size: 14px;
  line-height: 1.8;
  color: #fff;
  background: #ffd9b0;
  font-weight: 400;
  font-family: Poppins;
  margin: 0px; }

.main {
  padding: 115px 0;
  position: relative; }

.container {
  width: 1150px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px; }

.booking-content {
  flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap; }

.booking-image {
  width: 58.33%;
  margin-bottom: -8px; }

.booking-img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }

.booking-form {
  width: 41.67%;
  background: #111;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

.form-radio {
  margin-bottom: 65px;
  padding-top: 20px; }
.form-radio input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px; }
.form-radio label {
  padding-top: 4px; }
